.cd-user-modal
	.cd-user-modal-container
		ul.cd-switcher
			li
				a(href="#0") Sign in
			li
				a(href="#0") Sign up
		#cd-login
			form.cd-form#login-form(method="POST")
				p.fieldset
					label.image-replace.cd-email(for="signin-email") E-mail
					input.full-width.has-padding.has-border#signin-email(type="email" name="email" placeholder="E-mail")
					span.cd-error-message Error message here!
				p.fieldset
					label.image-replace.cd-password(for="signin-password") Password
					input.full-width.has-padding.has-border#signin-password(type="password" name="password" placeholder="Password")
					span.cd-error-message Error message here!
				span#sign-in-error.sign-error-message
				p.fieldset
					input.full-width(type="submit" value="Login")
		#cd-signup
			form.cd-form#signup-form(method="POST")
				p.fieldset
					label.image-replace.cd-username(for="signin-username") Username
					input.full-width.has-padding.has-border#signin-username(type="text" name="username" placeholder="Username")
					span.cd-error-message Error message here!
				p.fieldset
					label.image-replace.cd-email(for="signin-email") E-mail
					input.full-width.has-padding.has-border#signin-email(type="email" name="email" placeholder="E-mail")
					span.cd-error-message Error message here!
				p.fieldset
					label.image-replace.cd-password(for="signin-password") Password
					input.full-width.has-padding.has-border#signin-password(type="password" name="password" placeholder="Password")
					span.cd-error-message Error message here!
				span#sign-up-error.sign-error-message
				p.fieldset
					input.full-width(type="submit" value="Create Account")
		a.cd-close-form(href="#0") Close