extends layout

block content
	include partials/header
	.section-wrapper#about-wrapper
		.about-heading How To Play
		.about-text.
			Fantasy eSports is a place where you can play daily fantasy with your favorite eSports. The process is simple - select a contest to enter and the players you think will do best, and submit your entry. Once the tournament begins, watch your teams' scores and track their success!

		.about-heading What is "daily fantasy"?
		.about-text.
			Select any five eSports players participating in the same tournament for your own fantasy team. Pick your players based on statistics like kills, assists, and deaths to maximize your final point tally. Each player has a price, and you are limited by a salary cap when assembling your team.

		.about-heading How You Are Scored
		.about-text.
			Your score is the total points earned by the five players on your team. Each player earns points according to the following formula:
			<br>
			<strong>4*PlayerKills + 2*PlayerAssists - 1*DeathWeight + 5 (if bomb is defused) + 5 (if target is bombed) - 3 (if player commits suicide).