extends layout

block content
	include partials/header
	.section-wrapper#about-wrapper
		.about-heading How To Play
		.about-text.
			Fantasy eSports is exactly that -- a place where you can play daily fantasy with your favorite eSports. The process is simple: select a contest to enter, select the players that you think will do the best, submit your entry. Once the tournament begins, watch your teams' scores and track how well your teams are doing.

		.about-heading What is "daily fantasy"?
		.about-text.
			The idea behind daily fantasy is that you pick various eSports players participating in the same tournament for your own "fantasy" team. You want to form a team that will earn you the most number of points based off of a variety of statistics (such as kills, assists, deaths, and more for CS:GO). Your team is made up of any five players participating in the upcoming tournament. Each player has a price, and you are limited by a salary cap when choosing your team players.
