extends layout

block scripts
	script(type='text/javascript').
		//javascript vars
		var userInfo = JSON.parse("#{userInfo}".replace(/&quot;/g,'"'));

block content
	include partials/header
	.section-wrapper#confirm-wrapper