extends layout

block scripts		
	script(src='../js/lib/jquery_csv_min.js')
	script(type='text/javascript').
		//javascript vars
		var userInfo = JSON.parse("#{userInfo}".replace(/&quot;/g,'"'));

block content
	include partials/header
	.section-wrapper#confirm-wrapper