extends layout

block scripts
	script(type='text/javascript').
		//javascript vars
		var contests = JSON.parse("#{contests}".replace(/&quot;/g,'"'));
		//var users = JSON.parse("#{users}".replace(/&quot;/g,'"'))

block content
	include partials/header
	.section-wrapper#contest-wrapper