extends layout

block scripts
	script(type='text/javascript').
		//javascript vars
		var contestInfo = JSON.parse("#{contestInfo}".replace(/&quot;/g,'"'));

block content
	.section-wrapper#draft-wrapper