extends layout

block scripts
	script(type='text/javascript').
		var userInfo = JSON.parse("#{userInfo}".replace(/&quot;/g,'"'));
		var contestInfo = JSON.parse("#{contestInfo}".replace(/&quot;/g,'"'));

block content
	include partials/header
	.section-wrapper#draft-wrapper
		#my-team-button-wrapper
			#my-team-button MY TEAM ➜