extends layout

block scripts
	script(type='text/javascript').
		//javascript vars
		var contests = JSON.parse("#{contests}".replace(/&quot;/g,'"'));

block content
	nav.nav-bar
		//- if the user is logged in, display options only relevant to logged-in users (log out, view teams, etc.)
		if user
			ul.nav-list
				li
					a(href='/')#site-name Fantasy eSports
				li
					a(href='/logout')#logout
						span
							i.fa.fa-fw.fa-user
							| Logout
		else
			include partials/login-modal
			ul.nav-list
				li
					a(href='/')#site-name Fantasy eSports
				li
					#signin
						span
							i.fa.fa-fw.fa-sign-in
							| Login
					#signup
						span
							i.fa.fa-fw.fa-user-plus
							| Signup
	.section-wrapper#index-wrapper