extends layout

block scripts
	script(type='text/javascript').
		var contests = JSON.parse("#{contests}".replace(/&quot;/g,'"'));

block content
	include partials/header
	.section-wrapper#index-wrapper
		#fantasy-esports-header CS:GO FANTASY ESPORTS
		#how-to-use-wrapper
			a(href='/about')#how-to-use HOW TO PLAY ➜
		a.first-listing.contest-header
			.contest-name Contest
			.contest-date Start Date
			.contest-entry-count Entries / Size
		if !user
			#signup-overlay
			#signup-focus
				#sign-up-text Sign Up
