extends layout

block scripts
	script(type='text/javascript').
		//javascript vars here

block content
	.index-container.this-is-an-additional-class
		.main-contents
			div#this-is-an-id
				span This is text