extends layout

block scripts
	script(type='text/javascript').
		//javascript vars
		var contests = JSON.parse("#{contests}".replace(/&quot;/g,'"'));

block content
	include partials/header
	.section-wrapper#index-wrapper
		//- if !user
		//- 	#signup-overlay
		//- 	#signup-focus
		//- 		#sign-up-text Sign Up
