doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='Fantasy eSports')
		meta(name="theme-color", content="#ffffff")
		title #{title}Fantasy eSports
		link(rel='stylesheet' href='/dist/css/style.min.css')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')

	body
		.page-wrapper

			.container
				block content

		block scripts
		script(src='../dist/js/main.js')