extends layout

block scripts
	script(type='text/javascript').
		var contestsInfo = JSON.parse("#{contestsInfo}".replace(/&quot;/g,'"'));
		var initialContest = "#{initialContest}";

block content
	include partials/header
	.section-wrapper#my-team-wrapper
		#my-team-wrapper
			select#select-contest
			#my-team-no-team-msg.nothing-here.hide You have no one on your team!
			#my-team-list
			#my-team-buttons-wrapper
				a#continue-drafting-button Continue Drafting
				#enter-team-button Enter Team ➜
				a#view-scoreboard-button.hide View Scoreboard ➜
			.hide#submit-message Your team has been entered into this contest!
			.hide#error-message You need five players on your team!