extends layout

block scripts
	script(type='text/javascript').
		//var userInfo = JSON.parse("#{userInfo}".replace(/&quot;/g,'"'));
		var contestsInfo = JSON.parse("#{contestsInfo}".replace(/&quot;/g,'"'));

block content
	include partials/header
	.section-wrapper#my-team-wrapper