extends layout

block scripts
	script(type='text/javascript').
		var contestInfo = JSON.parse("#{contestInfo}".replace(/&quot;/g,'"'));
		var userInfo = JSON.parse("#{userInfo}".replace(/&quot;/g,'"'));

block content
	include partials/header
	.section-wrapper#score-wrapper
		#score-contest-title
		#change-team-button-wrapper
			#change-team-view-button VIEW ALL PLAYERS