//====================
//Table of Contents
//====================

//  1 Imports
//  2 Variables
//  3 Scaffolding
//  4 Nav Bar
//  5 Index
//  6 Draft
//  7 Contest
//  8 About
//  9 Score
// 10 My Team

//====================
// 1 Imports
//====================

@import 'mixins';

//====================
// 2 Variables
//====================

$primary-color: #E85F66;
$dark-primary-color: #D63A42;
$link-color: #26B3DE;
$dark-link-color: #24A1C7;
$indigo-color: #30415D;
$text-color: #CAEBF2;

//====================
// 3 Scaffolding
//====================

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgba($indigo-color, 0.25);
}

.section-wrapper {
	margin-top: 8%;
}

.hide {
	display: none !important;
}

.nothing-here {
	text-align: center;
	margin-top: 60px;
	font-size: 20px;
}

//====================
// 4 Nav Bar
//====================

.nav-list {
	@include flexbox;
	@include justify-content(space-between);
	list-style: none;
	max-height: 65px;
	padding: 15px 5%;
	background-color: #FFFFFF;
	color: #000000;
	position: fixed;
	top: 0;
	border-bottom: 2px solid rgba(0,0,0,0.10);
	margin-top: 0;
	margin-left: -10px;
	width: 102%;
}

#site-name {
	vertical-align: -moz-middle-with-baseline;
	color: $primary-color;
}

#signin, #signup, #logout {
	cursor: pointer;
	display: inline-block;
	line-height: 2em;
	color: #000000;
}

#signin {
	margin-right: 30px;
}

#signup {
	color: white;
	border-style: solid;
	border-radius: 5px;
	border-color: transparent;
	padding: 0 5px;
	background-color: $primary-color;
	@include transition(background-color .2s ease);

	&:hover {
		background-color: $dark-primary-color;
	}
}

//====================
// 5 Index
//====================

#index-wrapper {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(center);
}

#fantasy-esports-header {
	text-align: center;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 48px;
    color: black;
}

#how-to-use-wrapper {
	text-align: center;
	margin-bottom: 30px;
}

#how-to-use {
	background-color: #505260;
	color: #FFFFFF;
	padding: 5px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: 700;
	@include transition(background-color .2s ease);

	&:hover {
		cursor: pointer;
		background-color: #000000;
	}
}

#signup-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 65px;
	background-color: #000000;
	opacity: 0.7;
}

#signup-focus {
	width: 20%;
	height: 20%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $primary-color;
	border-radius: 5px;
	@include transition(background-color .2s ease);

	&:hover {
		cursor: pointer;
		background-color: $dark-primary-color;
	}

	#sign-up-text {
		top: 50%;
		left: 50%;
		position: relative;
		transform: translate(-50%, -50%);
		display: inline-block;
		font-size: 30px;
		color: #FFFFFF;
	}
}

.contest-header {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px !important;
	background-color: $primary-color;
	width: 70%;
	margin: auto;
	padding: 0 30px;
	line-height: 2.8;
	border-style: solid solid hidden solid;
	border-width: 1px;
	border-color: #000;
	color: #FFFFFF;

	> div {
		display: inline-block;
	}

	.contest-name {
		width: 40%;
	}

	.contest-date {
		width: 30%;
		text-align: center;
	}

	.contest-entry-count {
		width: 15%;
		text-align: center;
	}
}

.contest-listing {
	width: 70%;
	margin: auto;
	padding: 0 30px;
	line-height: 2.8;
	border-style: solid solid hidden solid;
	border-width: 1px;
	border-color: #000;
	background-color: $indigo-color;
	color: $text-color;
	@include transition(background-color .2s ease);

	&:hover {
		background-color: #828282;
	}

	> div {
		display: inline-block;
	}

	.contest-name-wrapper {
		width: 40%;
		
        
        .contest-name {
            color: $link-color;
            &:hover {
                text-decoration: underline;
            }
        }
        
        
	}

	.contest-date {
		width: 30%;
		text-align: center;
	}

	.contest-entry-count {
		width: 10%;
		text-align: right;
	}

	.enter-link-wrapper {
		width: 10%;
		text-align: right;

		.enter-link {
			background-color: $link-color;
			color: #FFFFFF;
			padding: 5px;
			border-radius: 5px;
			font-size: 12px;
            border-style: solid solid solid solid;
            border-width: 1px;
            border-color: #000;
			@include transition(background-color .2s ease);

			&:hover {
				background-color: $dark-link-color;
			}
		}
	}

	.score-link-wrapper {
		width: 10%;
		text-align: right;

		.score-link {
			background-color: $primary-color;
			color: #FFFFFF;
			padding: 5px;
			border-radius: 5px;
			font-size: 12px;
            border-style: solid solid solid solid;
            border-width: 1px;
            border-color: #000;
			@include transition(background-color .2s ease);

			&:hover {
				background-color: $dark-primary-color;
			}
		}
	}
}

.first-listing {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.last-listing {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 50px;
}

//====================
// 6 Draft
//====================

#page-draft-name {
	text-align: center;
	font-size: 36px;
	color: #E85F66;
	font-weight: 700;
	margin-bottom: 10px;
}

.draft-listing-header {
	font-size: 12px;
	width: 80%;
	margin: auto;
	padding: 0 30px;
	border-style: solid solid solid solid;
	border-width: 1px;
	border-color: #000;
	color: #000000;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: $primary-color;
	line-height: 2.8;

	> div {
		display: inline-block;
		font-size: 12px;
		font-weight: 700;
		color: #FFFFFF !important;
	}

	.player-name {
		width: 20%;
	}

	.player-kills {
		width: 10%;
		text-align: center;
	}

	.player-headshots {
		width: 10%;
		text-align: center;
	}

	.player-deaths {
		width: 10%;
		text-align: center;
	}

	.player-roundsP {
		width: 10%;
		text-align: center;
	}

	.player-assists {
		width: 10%;
		text-align: center;
	}

	.player-team {
		width: 20%;
		text-align: center;
	}
}

.draft-listing {
	margin: auto;
	width: 80%;
    border-style: hidden solid solid solid;
	border-width: 1px;
    border-color: #000;
	padding: 5px 30px;
    background-color: $indigo-color;
	color: $text-color;

	> div {
		display: inline-block;
	}

	.player-name {
		width: 20%;
		color: $link-color;
	}

	.player-kills {
		width: 10%;
		text-align: center;
	}

	.player-headshots {
		width: 10%;
		text-align: center;
	}

	.player-deaths {
		width: 10%;
		text-align: center;
	}

	.player-roundsP {
		width: 10%;
		text-align: center;
	}

	.player-assists {
		width: 10%;
		text-align: center;
	}

	.player-team {
		width: 20%;
		text-align: center;
	}

	.player-add-remove-wrapper {
		width: 10%;
		text-align: center;

		.player-add {
			display: inline-block;
			cursor: pointer;
			background-color: #40ED77;
			color: #FFFFFF;
			padding: 3px 10px;
			margin: 5px 0;
			border-radius: 5px;
			font-size: 12px;
			@include transition(background-color .2s ease);

			&:hover {
				background-color: #36D167;
			}
		}

		.player-remove {
			background-color: $primary-color;

			@include transition(background-color .2s ease);

			&:hover {
				background-color: $dark-primary-color;
			}
		}
	}
}

.draft-listing-footer {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 50px;
}

#my-team-button-wrapper {
	width: 80%;
	text-align: right;
	margin: auto;
	margin-bottom: 10px;

	#my-team-button {
		display: inline-block;
		background-color: #505260;
		color: #FFFFFF;
		padding: 5px 10px;
		border-radius: 5px;
		font-size: 12px;
		font-weight: 700;
		@include transition(background-color .2s ease);

		&:hover {
			cursor: pointer;
			background-color: #000000;
		}
	}
}

//====================
// 7 Contest
//====================

#page-contest-name {
	text-align: center;
	font-size: 36px;
	color: #E85F66;
	font-weight: 700;
}

#page-contest-date {
	text-align: center;
}

#page-contest-entries {
	text-align: center;
}

.draft-button-wrapper {
	text-align: center;
	margin: 20px 0;

	.draft-button {
		background-color: $link-color;
		color: #FFFFFF;
		padding: 10px 30px;
		border-radius: 5px;
		font-size: 16px;
		@include transition(background-color .2s ease);

		&:hover {
			background-color: $dark-link-color;
		}
	}
}

.scoreboard {
	width: 500px;
	margin: auto;
	padding: 0 30px;
	line-height: 2.8;

	.contest-player-name-header, .contest-player-name {
		display: inline-block;
		width: 65%;
	}

	.contest-score-header, .contest-score {
		display: inline-block;
		width: 35%;
		text-align: right;
	}

	.user-listing {
		padding: 0 30px;
		border-style: solid solid hidden solid;
		border-width: 1px;
		border-color: #000;
		background-color: $indigo-color;
		color: $text-color;
	}

	.user-listing-header {
		font-weight: 700;
		text-transform: uppercase;
		font-size: 12px !important;
		background-color: $primary-color;
		border-style: solid solid hidden solid;
		border-width: 1px;
		border-color: #000;
		color: #FFFFFF;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}

	.user-listing-footer {
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;	
		border-bottom-style: solid;
		border-bottom-width: 1px;
		margin-bottom: 50px;
	}
}

//====================
// 8 About
//====================

.about-heading {
	text-align: center;
	font-size: 44px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
    color: black;
}

.about-text {
	width: 70%;
	font-size: 20px;
	margin: auto;
	margin-bottom: 30px;
}

//====================
// 9 Score
//====================

#score-contest-title {
	text-align: center;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 36px;
	color: #000000;
}

#change-team-button-wrapper {
	text-align: center;
	margin-bottom: 20px;

	#change-team-view-button {
		display: inline-block;
		display: inline-block;
		background-color: $link-color;
		border-radius: 5px;
		padding: 10px 20px;
		color: #FFFFFF;
		cursor: pointer;
		@include transition(background-color .2s ease);

		&:hover {
			background-color: $dark-link-color;
		}
	}
}

#all-scores-list {
	margin-bottom: 50px;
}

.score-listing-header {
	font-size: 22px;
	width: 40%;
	margin: auto;
	padding: 0 30px;
	border-style: solid solid solid solid;
	border-width: 1px;
	border-color: #000;
	color: #000000;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: $primary-color;

	> div {
		display: inline-block;
		font-size: 14px;
		font-weight: 700;
		color: #FFFFFF !important;
	}

	.player-name-header {
		width: 65%;
	}

	.player-score-header {
		width: 35%;
		text-align: right;
	}
}

.score-player-listing {
	margin: auto;
	width: 40%;
	border-style: hidden solid solid solid;
	border-width: 1px;
    border-color: #000;
	padding: 5px 30px;
    background-color: $indigo-color;
	color: $text-color;
	

	> div {
		display: inline-block;
	}

	.contest-player-name {
		width: 65%;
		color: $link-color;
	}

	.contest-player-score {
		width: 35%;
		text-align: right;
	}
}

.score-listing-footer {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;	
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

//====================
// 10 My Team
//====================

#my-team-wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#select-contest {
	font-size: 36px;
	margin-bottom: 30px;
}

#my-team-no-team-msg {
	margin: 20px 0 40px 0;
}

#my-team-list {
	width: 80%;
	margin: auto;
	margin-bottom: 10px;
}

.player-listing-header {
	font-size: 12px;
	width: 80%;
	margin: auto;
	padding: 0 30px;
	border-style: solid !important;
	border-width: 1px;
	border-color: #000;
	color: #000000;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: $primary-color !important;

	> div {
		display: inline-block;
		font-size: 12px;
		font-weight: 700;
		color: #FFFFFF !important;
	}

	.player-name {
		width: 20%;
	}

	.player-kills {
		width: 10%;
		text-align: center;
	}

	.player-headshots {
		width: 10%;
		text-align: center;
	}

	.player-deaths {
		width: 10%;
		text-align: center;
	}

	.player-roundsP {
		width: 10%;
		text-align: center;
	}

	.player-assists {
		width: 10%;
		text-align: center;
	}

	.player-team {
		width: 20%;
		text-align: center;
	}
}

.player-listing {
	margin: auto;
	width: 80%;
	border-style: hidden solid solid solid;
	border-width: 1px;
	border-color: #000000;
	padding: 5px 30px;
	color: #FFFFFF;
	background-color: $indigo-color;

	> div {
		display: inline-block;
	}

	.player-name {
		width: 20%;
		color: $link-color;
	}

	.player-kills {
		width: 10%;
		text-align: center;
	}

	.player-headshots {
		width: 10%;
		text-align: center;
	}

	.player-deaths {
		width: 10%;
		text-align: center;
	}

	.player-roundsP {
		width: 10%;
		text-align: center;
	}

	.player-assists {
		width: 10%;
		text-align: center;
	}

	.player-team {
		width: 20%;
		text-align: center;
	}
}

.player-listing-footer {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#my-team-buttons-wrapper {
	@include flexbox;
	@include justify-content(space-between);
	width: 64%;
	margin: auto;
	margin-bottom: 10px;

	#continue-drafting-button {
		margin: auto;
		background-color: $primary-color;
		color: #FFFFFF;
		padding: 10px 30px;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		@include transition(background-color .2s ease);

		&:hover {
			background-color: $dark-primary-color;
		}
	}

	#enter-team-button {
		background-color: $link-color;
		color: #FFFFFF;
		padding: 10px 30px;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		@include transition(background-color .2s ease);

		&:hover {
			background-color: $dark-link-color;
		}
	}

	#view-scoreboard-button {
		background-color: $link-color;
		color: #FFFFFF;
		padding: 10px 30px;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		@include transition(background-color .2s ease);

		&:hover {
			background-color: $dark-link-color;
		}
	}
}

#submit-message {
	display: inline-block;
	border-radius: 5px;
	padding: 5px 10px;
	color: #000000;
	font-weight: 700;
}

#error-message {
	color: $dark-primary-color;
}