//Table of Contents
//-----------------
// 1)  Imports
// 2)  Variables
// 3)  Scaffolding
// 4)  Index

//----------------------
//----------------------
//----------------------


// 1) Imports
//-----------------
@import 'mixins';

// 2) Variables
//-----------------


// 3) Scaffolding
//-----------------

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

// 4) Index
//-----------------

.nav-list {
	@include flexbox;
	@include justify-content(space-between);
	list-style: none;
	padding: 15px 5%;
	background-color: black;
	color: white;
}

#signin, #signup, #logout {
	cursor: pointer;
	display: inline-block;
}

#signin {
	margin-right: 30px;
}

#signup {
	border-style: solid;
	border-radius: 15px;
	padding: 5px;
	background-color: white;
	color: black;
}