//====================
//Table of Contents
//====================

// 1 Imports
// 2 Variables
// 3 Scaffolding
// 4 Nav Bar
// 5 Index
// 6 Draft
// 7 Contest

//====================
// 1 Imports
//====================

@import 'mixins';

//====================
// 2 Variables
//====================

$primary-color: #F76D74;
$dark-primary-color: #D63A42;

//====================
// 3 Scaffolding
//====================

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.section-wrapper {
	margin-top: 8%;
}

//====================
// 4 Nav Bar
//====================

.nav-list {
	@include flexbox;
	@include justify-content(space-between);
	list-style: none;
	max-height: 65px;
	padding: 15px 5%;
	background-color: black;
	color: white;
	position: fixed;
	width: 100%;
	top: 0;
}

#site-name {
	vertical-align: -moz-middle-with-baseline;
	color: $primary-color;
}

#signin, #signup, #logout {
	cursor: pointer;
	display: inline-block;
}

#signin {
	margin-right: 30px;
}

#signup {
	color: white;
	border-style: solid;
	border-radius: 15px;
	border-color: transparent;
	padding: 5px;
	background-color: $primary-color;
	@include transition(background-color .2s ease);

	&:hover {
		background-color: $dark-primary-color;
	}
}

//====================
// 5 Index
//====================

#index-wrapper {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(center);
}

#signup-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 65px;
	background-color: #000000;
	opacity: 0.7;
}

#signup-focus {
	width: 20%;
	height: 20%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $primary-color;
	border-radius: 10px;

	&:hover {
		cursor: pointer;
	}

	#sign-up-text {
		top: 50%;
		left: 50%;
		position: relative;
		transform: translate(-50%, -50%);
		display: inline-block;
		font-size: 30px;
		color: #FFFFFF;
	}
}

.contest-listing {
	width: 50%;
	margin: auto;
	margin-bottom: 10px;
	padding: 0 30px;
	height: 50px;
	line-height: 2.8;
	border-style: solid;
	border-radius: 60px;
	border-width: 2px;
	border-color: black;
	background-color: $primary-color;
	color: white;
	@include transition(background-color .2s ease);

	&:hover {
		background-color: $dark-primary-color;
	}

	> div {
		display: inline-block;
	}

	.contest-name {
		width: 40%;
	}

	.contest-date {
		width: 30%;
		text-align: center;
	}

	.contest-entry-count {
		width: 30%;
		text-align: right;
	}
}

//====================
// 6 Draft
//====================

.draft-listing {
	margin: auto;
	margin-bottom: 10px;
	padding: 0 30px;
	height: 50px;
	color: black;

	> div {
		display: inline-block;
	}

	.player-name, .player-kills, .player-headshots, .player-deaths, .player-roundsP, .player-assists, .player-team, .player-add {
		width: 10%;
	}

	.player-add {
		margin-bottom: 10px;
		padding: 0 30px;
		height: 50px;
		line-height: 2.8;
		border-style: solid;
		border-radius: 60px;
		border-width: 2px;
		border-color: black;
		background-color: $primary-color;
		color: white;
		@include transition(background-color .2s ease);

		&:hover {
			background-color: $dark-primary-color;
		}
	}
}

//====================
// 7 Contest
//====================

#contest-wrapper {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(center);
}

.contest-details {
	height: 50px;
	color: black;

	> div {
		display: inline-block;
	}

	.contest-name, .contest-startdate, .contest-enddate, .contest-salary, .contest-entry-count {
		width: 10%;
		display: inline-block;
	}

	.contest-entries{
		width: 50%;
	}
}

.contest-results {
	height: 20px;
	color: black;

	> div {
		display: inline-block;
	}

	.contest-players, .contest-score {
		width: 10%;
		display: inline-block;
	}
}

.contest-listing2 {
	width: 50%;
    margin-top: 10px;
	margin-bottom: 10px;
	padding: 0 30px;
	height: 50px;
	line-height: 2.8;
	border-style: solid;
	border-radius: 60px;
	border-width: 2px;
	border-color: black;
	background-color: $primary-color;
	color: white;
	@include transition(background-color .2s ease);

	&:hover {
		background-color: $dark-primary-color;
	}

	> div {
		display: inline-block;
	}
}